/* The following line can be included in a src/App.scss */
body {
  margin: 0;
  padding: 0;
}
/* Parent dropdown menu */
.navbar .dropdown-menu {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 20px;
  border: 1px solid #ddd;
  z-index: 1050;
}

/* Submenu alignment */
.submenu .dropdown-menu {
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: -1px;
  border-radius: 0;
  padding: 10px 15px;
  width: auto;
  min-width: 200px;
  z-index: 1060;
  background-color: #f8f9fa;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .submenu .dropdown-menu {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    border-radius: 4px;
  }

  .navbar-nav {
    text-align: left;
  }
}

/* Hover effect */
.dropdown-item {
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #e9ecef;
}

/* NavLink styles */
.navbar-nav .nav-link {
  color: #093148 !important;
  font-weight: bold;
  text-transform: capitalize;
}

.navbar-nav .nav-link:hover {
  color: #007bff !important;
}

.social-link {
  color: white !important;
}
.social-link:hover {
  cursor: pointer;
}

.contact {
  color: white;
  text-decoration: none;
}

.contact:hover {
  text-decoration: underline;
}

@keyframes blink {
  0%,
  100% {
    color: floralwhite;
  }
  50% {
    color: red;
  }
}

.selected-child {
  background-color: #ddd !important;
}

.selected-child > a {
  color: black !important;
}

.selected-sub-child > a:hover {
  color: red;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  background-color: #f0f0f0;
}
